@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
  margin: 5px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.content > * {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-direction: column;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  /* width: 50%; */
}

.header,
.footer,
.left-links,
.right-links {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style-type: none;
  font-size: 14px;
}

ul > * {
  padding: 4px;
}

.footer {
  background-color: #eee;
}

.container > * {
  /* display: flex; */
  /* justify-content: space-between; */
  /* height: 100vh; */
}
